.coin {
  background:#efb90a;
  border-radius: .25em;
  padding: .5em;

  transition: transform .25s ease-in;
}

.coin:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1em #564716;
}

.coin:nth-child(even) {
  background-color: #b89729;
}