.ticker {
  background: #fff;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  place-items: center;
}

.ticker:nth-child(even) {
  background-color: #dcd5c1;
}

.ticker__symbol {
  color: #b58b03;
}

.ticker__change {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.ticker__details {
  background: #efb90a;
  font-size: 1.5em;
  padding: 0.25em;
  border-radius: 50%;
}
